.container {
    min-width: 35.6rem;
    padding: 12px 14px;
    background: rgba(232, 232, 232, 0.13);
    
}
.bodyItem{
    display: flex;
    justify-content: space-between;
}
.footer{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.body{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.bodyItem{
    display: flex;
    justify-content: space-between;
    margin:5px 0;
}

.leftText {
    margin-left: -4px !important;
}

.Line {
    margin: 1rem 0 !important;
}