.Container{
    width: 100%;
   color: var(--color-black);
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.conatiner-body{
    display: flex;
    justify-content: center;
   align-items: center;
    gap:100px;
    width: 100%;
    background-color: white;
}
.product-image{
    width: 150px;
    height: 100px;
}
.para{
    padding-bottom: 20px;
}
.ParaGraphs{
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    padding: 5px;
}

.Price{
    
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}