.container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orders {
  margin-bottom: 50px;
}
.Place {
  min-height: 6rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: darkorange;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  &-container {
    box-shadow: 0px -1px 7px rgb(0 0 0 / 28%) !important;
    min-height: 8rem;
    width: 100%;
  }
}
