.box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FF9F00;
    margin-top:100px;
    margin-bottom: 20px;
    box-shadow: 7.0px 13.9px 13.9px hsl(0deg 0% 0% / 0.28);
}
.title{
    margin:20px 20px;
    font:bold;
    font-size: 28;
}
.innerRow{
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.colom{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center ;
}