.container {
  padding: 12px 20px;
  display: flex;
  max-width: 37.5rem;
  border-radius: 6px;
  justify-content: space-around;
  background-color: #f8f9fa;
}
.orders {
  background-color: inherit;
  border-style: none;
}
.complaints {
  color: rgb(243, 11, 11);
  background-color: inherit;
  border-style: none;
}
._line {
  transform: rotate(90deg) !important;
  width: 25px !important;
  color: black;
  height: 3px;
}
