// extra large texts
.text-extra-large-lg {
  font-size: 40px;
  line-height: inherit;
}
.text-extra-large-md {
  font-size: 36px;
  line-height: inherit;
}
.text-extra-large-sm {
  font-size: 32px;
  line-height: inherit;
}
// large text
.text-large-lg {
  font-size: 28px;
  line-height: inherit;
}
.text-large-md {
  font-size: 24px;
  line-height: inherit;
}
// medium text
.text-medium-lg {
  font-size: 20px;
  line-height: inherit;
}
.text-medium-md {
  font-size: 18px;
  line-height: inherit;
}
.text-medium-sm {
  font-size: 16px;
  line-height: inherit;
}
// small text
.text-small-lg {
  font-size: 12px;
  line-height: inherit;
}
.text-small-md {
  font-size: 14px;
  line-height: inherit;
}
