.Margin {
  width: auto;
  margin: 30px 0px;
}
.container {
  width: auto;
  min-width: 600px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.head {
  text-align: center;
  margin-bottom: 0px;
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.User_name .in_userName{
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    font-size: 20px;
  
    border: 2px solid grey;
}

.User_name .User_name_label{
    font-size: 20px;
}
.mail .in_mail {
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  font-size: 20px;

  border: 2px solid grey;
}
.mail .email_label {
  font-size: 20px;
}


.password .in_password {
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  font-size: 20px;
  border: 2px solid grey;
}
.password .password_label {
    font-size: 20px;
  }

.conf_password .in_conf_password{
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    border: 2px solid grey;
}
.conf_password .conf_password_label{
    font-size: 20px;
}
/* Set the animation duration and easing */
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}


.signUp {
  width: 100%;
  margin-top: 30px;
  padding: 20px 0 20px 0;
  font-size: 20px;
  color: white;
  background-color: darkorange;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
}
