
.Main-container{
    width: 100%;
   color: var(--color-black);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;
}
.inner-conatiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
}
.inner-conatiner:hover{
    box-shadow: 0px 0px 1px 2px;
}
.Complaint{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.Text{
    font-size: 18px;
    font-weight: bold;
}
.buttons{
    display: flex;
    gap: 15px;
}
.yes{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var( --color-success);
    border: none;
    color: white ;
}
.no{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-danger);
    border: none;
    color: white ;
}