.inner{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    background-color: whitesmoke;
    padding: 10px 10px;
    width: 100%;
}
.data{

    padding: 10px 30px;
    font-size: 15px;
}