.CategoryCard {
  max-width: 16.6rem !important;
  background-color: #ffffff !important;

  filter: drop-shadow(0px 4px 20px rgba(159, 159, 159, 0.21)) !important;
  border-radius: 8px !important;
  &:hover,
  &:active {
    & .CategoryCard--text-container {
      background-color: var(--color-primary) !important ;
    }
    & .CategoryCard--text {
      color: #fff !important ;
    }
  }
  &--image {
    height: 15rem !important;
    width: 15rem !important;
  }
  &--text-container {
    width: 100% !important;
    min-height: 3.6rem !important;
    background-color: var(--color-tertiary) !important;
    transition: all 0.3s !important;
    border-radius: 0 0 6px 6px !important;
  }
  &--text {
    color: var(--color-primary) !important;
    transition: all 0.3s !important;
  }
}
